.movie_details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.movie_image {
  width: 250px;
  height: auto;
}
.additional_info {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .movie_details {
    flex-direction: column;
  }
  .movie_image {
    width: 100%;
  }
}
